.container {
    padding-top: 30px;
    width: 80%;
}

.container .info-area {
    /* padding-right: 40px; */
    /* text-align: right; */
    padding-bottom: 10px;
}

.container .last-result {
    padding-top: 8px;
    min-height: 120px;
    height: auto;
}

.container .last-result .wrong-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
}

.container .last-result .wrong-list .wrong-item {
    border-radius: 10px;
    display: block;
    padding-inline: 10px;
    background-color:blanchedalmond;
    width: 100px;
    width: 128px;
}

.container .result-box {
    padding: 20px 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    gap: 24px;
}

.container .result-box .result-item {
    background-color:darkcyan;
    border-radius: 20%;
    padding-inline: 10px;
    font-size: 16px;
    color: white;
    min-width: 100px;
}